body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
#name-highlight{
    color:purple;
    font-size: 80px;}
    .half-width{
        width: 40%;
        float: left;
    }
    .half-width img{
        width: 100%;
    }
    .header-bg{
        border: 1px solid red;
        background-image: url("images/header-bg.png");
        background-repeat: no-repeat;
    }
    section{
        height: 500px;
        padding-bottom: 550px;
        display: block;
    }
    .text-center{
        padding-top: 15%;
        padding-left: 15%;
    }
    .pic-center{
        padding-top: 5%;
        padding-right: 2%;
    }
    .link-button{
        text-decoration: none;
        color:white;
        background-image: linear-gradient(45deg, lightsalmon,purple);
        padding: 15px 50px;
        border-radius: 5px;
        font-weight: bold;
    }
    .button-space{
        padding-bottom: 5%;
    }
    .biography-area{
        background-image: url("images/biography-bg.png");
        background-repeat: no-repeat;
        padding-bottom: 40%;
        background-position: center;
    }
    .bio-pic-center{
        padding-top: 5%;
        padding-right: 5%;
        padding-left: 5%;
    }
    .bio-text-center{
padding-top: 15%;
    }
    .images{
        max-width: 30%;
        padding-right: 1.5%;
        padding-left: 1.5%;
        float: left;
    }
    .images img{
        width: 100%;
    }
    .work-text{
        text-align: center;
    }
    .latest-work{
        background-image: url("images/latest-work-bg.png");
        background-repeat: no-repeat;
        padding-bottom: 15%;
        background-position: center;
    }
